@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #2f3542;
    border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #434a59;
    border-radius: 6px;
    border: 3px solid #2f3542;
}